@import 'vars';
@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'main.scss';
.header {
  min-height: 579px;
  padding: 1em 0 10em;
  background-color: #be2b57;
  background-image: url('../img/hero-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.header__logo {
  display: inline-block;
  margin-bottom: 5em;
}
.header__logo-image {
  width: 145px;
}
.intro {
  text-align: center;
}
.intro__title {
  margin: 0;
  margin-bottom: 3em;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}
.intro__name {
  font-weight: 400;
}
.intro__destination {
  font-size: rem(70);
  font-weight: 700;
}
.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000000;
}
.video--enabled {
	cursor: pointer;
}
.video__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.video__button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: none;
	padding: 0;
	width: 68px;
	height: 48px;
	border: none;
	background-color: transparent;
	transform: translate(-50%, -50%);
	cursor: pointer;
  outline: none;
}
.video--enabled .video__button {
	display: block;
}
.video__button-shape {
	fill: $clr-accent;
	fill-opacity: 0.8;
}
.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: $clr-accent;
	fill-opacity: 1;
}
.video__button-icon {
	fill: #ffffff;
}
.video__description {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 9.5em;
  color: #ffcfdf;
  font-weight: 300;
  text-align: left;
}
.facts {
  padding: 2.25em 0;
  background-color: #fff5f8;
}
.facts-card {
  display: flex;
  flex-flow: column;
}
.facts__num {
  font-size: 2rem;
  color: $clr-accent;
  font-weight: 700;
}
.facts__text {
  font-weight: 300;
}
.about {
  padding: 3em 0 11em;
  background-image: url('../img/shuttle-mobile.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}
.about__title {
  margin: 0;
  margin-bottom: 1em;
  color: $clr-accent;
  font-size: 2rem;
}
.about__question {
  margin: 0;
  margin-bottom: 1.33em;
  color: #000;
  font-size: 1.5rem;
}
.about__answer {
  margin: 0;
  margin-bottom: 3em;
  font-weight: 300;
}
.info {
  padding: 3em 0 12em;
}
.info__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: 2rem;
  color: $clr-accent;
}
.info__frame {
  margin: 0 auto;
  margin-bottom: 4em;
  width: 165px;
  height: 190px;
  box-shadow: inset 0 0 0 10px $clr-accent;
}
.info__frame--desktop {
  display: none;
}
.info__frame-image {
  position: relative;
  top: 2rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__subtitle {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.5rem;
  color: #000;
}
.info__text {
  margin: 0;
  margin-bottom: 1.75em;
  font-weight: 300;
}
.info__quote {
  position: relative;
  margin: 0;
  margin-bottom: 1.25em;
  font-size: rem(18);
  color: $clr-accent;
  &::before {
    content: '';
    position: absolute;
    top: -1em;
    left: -0.5em;
    display: block;
    @include size(16px);
    background-image: url('../img/left-quote.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .header {
    padding-top: 1.5em;
    background-image: url('../img/hero-tablet.png');
  }
  .header__logo {
    margin-bottom: 11.5em;
  }
  .intro__title {
    font-size: 1.5rem;
  }
  .intro__destination {
    font-size: 6rem;
  }
  .video__description {
    left: 70%;
  }
  .facts {
    padding: 3em 0 3.5em;
  }
  .facts__num {
    font-size: 3rem;
  }
  .about {
    padding: 3.5em 0 19em;
    background-image: url('../img/shuttle-tablet.png');
  }
  .about__title {
    font-size: 3rem;
  }
  .info {
    padding-bottom: 6em;
  }
  .info__title {
    font-size: 3rem;
  }
  .info__frame {
    float: right;
    margin-left: 3.5rem;
  }
  .info__frame--desktop {
    display: block;
  }
  .info__frame--mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: url('../img/hero-desktop.png');
  }
  .header__logo {
    margin-bottom: 10.5em;
  }
  .intro__title {
    margin-bottom: 1.5em;
    font-size: 2rem;
  }
  .intro__destination {
    font-size: 8rem;
  }
  .video__description {
    top: 50%;
    left: auto;
    right: -11em;
    transform: translateY(-50%);
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -100%;
      width: 7.5em;
      height: 1px;
      background-color: #ffcfdf;
    }
  }
  .about {
    padding-top: 5em;
    background-image: url('../img/shuttle-desktop.png');
  }
  .about__title {
    font-size: 3.75rem;
  }
  .info__title {
    font-size: 3.75rem;
  }
  .info__frame {
    margin-left: 7.25em;
    margin-bottom: 7.25em;
    width: 325px;
    height: 372px;
  }
  .info__frame-image {
    top: 3rem;
    left: -3rem;
  }
  .info__quote {
    &::before {
      left: -1.75em;
    }
  }
}